#video {
    position: fixed;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -4;
}

.notice {
    position: absolute;
    top: 65%;
    width: 45%;
}


.body{
    background-color: black;
}


.background{
    background: rgba(0, 0, 0, 0.842);
}

.ctrans{
    background: rgba(0, 0, 0, 1);
}

.textmain{
    font-size: 104%;
    font-weight: 500;
}

.textyou{
    font-size: 105%;
    color: midnightblue;
    font-weight: 700;
}

.textyounext{
    font-size: 105%;
    color: midnightblue;
    font-weight: 700;
    text-decoration: underline;
}

.lol{
    display: flex;
}

.textcubey{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-image:linear-gradient(to bottom, rgba(168, 0, 0, 0.52), rgb(62, 0, 0)), url(https://raw.githubusercontent.com/Cubaria/Cubaria/main/bg.png);
    background-color:rgb(30,30,30);
    width: 50%;
    display: block;
    margin: auto;
    padding: 1.2rem;
    border-radius: 0.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.textevil{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-image:linear-gradient(to bottom, rgba(53, 0, 0, 0.52), rgb(20, 0, 0)), url(https://raw.githubusercontent.com/Cubaria/Cubaria/main/bg.png);
    background-color:rgb(30,30,30);
    width: 50%;
    display: block;
    margin: auto;
    padding: 1.2rem;
    border-radius: 0.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.textcubey::before
{
    content: "Cubey:";
    display: inline-block;
    text-align: justify;
    padding-right: 2%;
}
.bold{
    font-weight: bold;
}

.maincolortext{
    color: rgb(50,82,43)
}


.maincolorbg{
    background-color: rgb(245, 232, 158);
    outline-style:solid;
    outline-color:rgb(50,82,43);
}

p{
    font-size:large
}

b{
    font-size: large;
}

.textgem{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-style: italic;
    background-image:linear-gradient(to bottom, rgba(255, 0, 0, 0.52), rgb(71, 0, 0)), url(https://raw.githubusercontent.com/Cubaria/Cubaria/main/bg.png);
    background-color:rgb(30,30,30);
    width: 50%;
    display: block;
    margin: auto;
    padding: 1.2rem;
    border-radius: 0.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.textgem::before
{
    content: "???:";
    display: inline-block;
    text-align: justify;
    padding-right: 2%;
}
.star::after{
    content: url(assets/cstar.png);
    display: inline-block;
}

.star::before{
    content: url(assets/cstar.png);
    display: inline-block;
}

.c-nav-link
{
    display: inline-block;
    padding: .5rem 1rem;
}

.c-content
{
width: 60%;
}

.divend::after{
    content: url(assets/cc.png);
    display: inline-block;
}

.divend::before{
    content: url(assets/cc.png);
    display: inline-block;
}

.bg-light {
    background-color: lightgrey !important;
}

/* mobile S */
@media screen and (max-width: 375px) {
    .content { width:100%!important; }
    .c-content { width:100%!important;}
    .splash {right: 5%!important; top: 75%!important; width: 50%;}
    .navbar {text-align: center;}
    .cont {width: 400px!important;}
    .cubeysplash{width: 100%;}
    .textcubey{width: 90%;}
    .textgem{width: 90%;}
}

/* mobile L */
@media screen and (min-device-width: 378px) and (max-width: 425px) {
    .content { width:100%!important;}
    .c-content { width:150%!important;}
    .splash { width: 80%!important; right: 5%!important; top: 75%!important;}
    .splashimg { margin: 5%;}
    .navbar {text-align: center;}
    .cont {width: 4444444440%!important;}
    .textcubey{width: 90%;}
    .textgem{width: 90%;}

}

/* mobile L */
@media screen and (min-device-width: 426px) and (max-width: 1023px) {
    .content { width:100%!important;}
    .c-content { width:150%!important;}
    .splash { width: 80%!important; right: 5%!important; top: 75%!important;}
    .splashimg { margin: 5%;}
    .navbar {text-align: center;}
    .textcubey{width: 90%;}
    .textgem{width: 90%;}

}

@media screen and (min-device-width: 1024) and (max-width: 1042px) {
    .content { width:100%!important;}
    .c-content { width:10%!important;}
    .splash { width: 100%!important; right: 5%!important; top: 75%!important;}
    .splashimg { margin: 5%;}
    .navbar {text-align: center;}
    .textcubey{width: 90%;}
    .textgem{width: 90%;}

}

@media screen and (min-device-width: 1043) {
    .content { width:100%!important;}
    .textcubey{width: 90%;}
    .textgem{width: 90%;}
}

hr
{
   width: 50%;
   margin-left: auto;
   margin-right: auto; 
   border: 1px solid white;
}